*~
tutorial_bmad_tao/doc/2www.pl
tutorial_bmad_tao/doc/tutorial_bmad_tao.aux
tutorial_bmad_tao/doc/tutorial_bmad_tao.bbl
tutorial_bmad_tao/doc/tutorial_bmad_tao.blg
tutorial_bmad_tao/doc/tutorial_bmad_tao.log
tutorial_bmad_tao/doc/tutorial_bmad_tao.out
tutorial_bmad_tao/doc/tutorial_bmad_tao.pdf
tutorial_bmad_tao/doc/tutorial_bmad_tao.toc
push_all
*.digested*
