*~
PGPLOT
fftw
fftw
fgsl
gsl
hdf5 
lapack  
lapack95  
open_spacecharge
openmpi
plplot
xraylib
gnu_utilities_src
packages
.directoryhash

# Jupyter notebooks
.ipynb_checkpoints

bmad-doc/tutorial_bmad_tao/doc/2www.pl
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.aux
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.bbl
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.blg
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.log
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.out
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.pdf
bmad-doc/tutorial_bmad_tao/doc/tutorial_bmad_tao.toc
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.aux
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.bbl
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.blg
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.log
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.out
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.pdf
bmad-doc/cookbook_bmad_tao/doc/cookbook_bmad_tao.toc
bmad-doc/tao_examples/csr_beam_tracking/csr_wake.dat

tao/doc/tao.pdf
bmad/doc/bmad.pdf
bsim/**/doc/*.pdf
util/searchf.pyc

**/doc/*.idx
**/doc/*.ilg
**/doc/*.ind
**/doc/*.lof
**/doc/*.log
**/doc/*.lot
**/doc/*.out
**/doc/*.rdx
**/doc/*.rnd
**/doc/*.toc
**/doc/*.aux
**/2www.pl

regression_tests/*/output.now
regression_tests/*/lat.bmad
regression_tests/*/r
regression_tests/*/rt
regression_tests/*/m
regression_tests/bbu_test/bunch_vec.txt
regression_tests/bookkeeper_test/lat2.bmad
regression_tests/envelope_ibs_test/emit_from_integrals.out
regression_tests/envelope_ibs_test/emit_vs_turn.out
regression_tests/envelope_ibs_test/one_turn_mat_from_slices.diag
regression_tests/envelope_ibs_test/sigma_finish.out
regression_tests/envelope_ibs_test/sigma_start.out
regression_tests/hdf5_test/bunch.h5
regression_tests/hdf5_test/grid_field.h5
regression_tests/multipass_test/lat1.bmad
regression_tests/multipass_test/lat2.bmad
regression_tests/parse_test/c2.bmad
regression_tests/parse_test/com2.bmad
regression_tests/parse_test/g1.grid_field.h5
regression_tests/parse_test/m1.cylindrical_map
regression_tests/parse_test/overlap_out.bmad
regression_tests/parse_test/q1.cartesian_map
regression_tests/parse_test/q4.cartesian_map
regression_tests/parse_test/sbend0.grid_field.h5
regression_tests/parse_test/wall_cap
regression_tests/parse_test/wall_m2
regression_tests/parse_test/write_parser_test.bmad
regression_tests/parse_test/z.bmad
regression_tests/parse_test/z2.bmad
regression_tests/regression.results
regression_tests/sad_test/sler_1689.bmad
regression_tests/twiss_track_test/digested.file
regression_tests/twiss_track_test/rad_int_no_wig_cache.dat
regression_tests/twiss_track_test/rad_int_no_wig_no_cache.dat
regression_tests/twiss_track_test/rad_int_wig_cache.dat
regression_tests/twiss_track_test/rad_int_wig_no_cache.dat
regression_tests/twiss_track_test/twiss.out

*.digested*
production
debug
